@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import "../../root.scss";


.parent{
  display: flex;
  flex-direction: row;
  gap: 8px;
  background: white;
  align-items: end;
}

.inputWrapper{
  width: 100%;
  display: flex;
}


.formGroup{
  display: flex;
  flex-direction: column;
  width: 100%;
}

label{
  font-size: 11px;
  line-height: 0px;
}

input{
  width: 100%;
}

.timeInputs{
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  padding: 8px 0px;
}

.timeInputs :focus{
  outline: none;
}


.quarterPickerParent{
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: end;
}

.quarterPickerDisplay{
  display: flex;
  flex-direction: row;
  gap: 4rem;
}


.cascadePicker{
  display: flex;
  gap: 4rem;
  width: fit-content;
  margin-left: auto;
  align-items: center;
}

.monthPicker{
  padding-top: 0px;
}

.cascadeRadios{
  display: flex;
  text-transform: capitalize;
}
