@use '@carbon/styles/scss/type';
@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@import '~@openmrs/esm-styleguide/src/vars';

$success-color: #008000;
$danger-color: #B22222;

.desktopHeading {
  h4 {
    @include type.type-style('heading-compact-02');
    color: $text-02;
    padding-top: spacing.$spacing-02;
  }
}

.tabletHeading {
  h4 {
    @include type.type-style('heading-03');
    color: $text-02;
  }
}

.desktopHeading,
.tabletHeading {
  text-align: left;
  text-transform: capitalize;
  padding-top: spacing.$spacing-02;
}

.heading:after {
  content: '';
  display: block;
  width: 2rem;
  padding-top: 0.188rem;
  border-bottom: 0.375rem solid var(--brand-03);
}

.card {
  background-color: $ui-02;
  padding-bottom: spacing.$spacing-04;
}

.title {
  color: colors.$gray-100;
  margin-left: spacing.$spacing-05;
  padding-bottom: 2px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  display: inline-block;
}

.title::after {
  content: "";
  display: block;
  border-bottom: 1px solid #0070E7;
}

.label {
  font-weight: bold;
  @include type.type-style('label-01');
  color: colors.$gray-70;
}

.container {
  display: flex;
  flex-direction: row;
  padding-left: 1rem;
  flex-wrap: wrap;
}

.value {
  @include type.type-style('body-short-02');
  color: colors.$gray-100;
}

.content {
  width: 25%;
  margin: spacing.$spacing-03 0;

  & > p:first-child {
    @include type.type-style('label-01');
    color: colors.$gray-70;
    margin-bottom: spacing.$spacing-02;
  }

  & span {
    @include type.type-style('body-short-02');
    color: colors.$gray-100;
  }
}

.redChip{
background-color: $danger-color;
color: white;
width: 45%;
font-weight: 600;
text-align: center;
padding: 0.5rem;
border-radius: 20rem;
}

.greenChip {
background-color: $success-color;
color: white;
width: 45%;
font-weight: 600;
text-align: center;
padding: 0.5rem;
border-radius: 20rem;
}