.parent{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 90vh;
    gap: 50px;
}

.content{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.content > h1 {
    font-size: 20px;
    font-weight: 600;
}

.content > h4 {
    font-size: 20px;
    font-weight: 300;
}

.icon{
    width: 150px;
    height: 150px;
}
