@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import "../root.scss";

.parent{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.titleContainer{
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  flex-wrap: wrap;
}

svg.homeIcon{
  font-size: x-large;
  font-weight: 700;
  fill: #0072c3;
  stroke: #0072c3;
}

.titleText{
  font-size: x-large;
}

.dashboardText{
  width: 100%;
}
