@use '@carbon/colors';
@import '../../patient-registration.scss';

/* Desktop */
:global(.omrs-breakpoint-gt-tablet) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 0.325rem;
    align-items: flex-end;
  }
}

/* Tablet */
:global(.omrs-breakpoint-lt-desktop) {
  .wrapper {
    row-gap: 0.5rem;
    display: flex;
    flex-direction: column;

  }
}

.errorWrapper {
  color: colors.$red-50;
  margin: 0 0 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
