@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';
@import "./root.scss";

.container {
  display: flex;
  flex-direction: column;
  overflow-x: clip;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 2rem;
  position: sticky;
  top: 0rem;
  box-shadow: #8d8d8d 5px 5px 5px;
  z-index: 20;
  background-color: white;
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;
    padding: 2rem 1rem 1rem 1rem;
  }
}

.left-justified-items {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.right-justified-items {
  @include type.type-style('body-compact-02');
  color: $text-02;
  padding-top: 1rem;
}

.title {
  @include type.type-style("heading-04");
  color: colors.$gray-100;
  margin: spacing.$spacing-03 1rem;
}

.subTitle {
  @include type.type-style("body-01");
  color: colors.$gray-70;
  font-size: 1.2rem;
  margin: spacing.$spacing-03 1rem;
}

.artBody {
  display: flex;
  flex-direction: column;
  row-gap: 4rem;
  padding: 2rem;
  width: 100%;
  margin-top: 5rem;
  overflow-x: clip;
}

.titleContainer {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 12px;
  flex-wrap: wrap;
}

svg.homeIcon {
  font-size: x-large;
  font-weight: 700;
  fill: #0072c3;
  stroke: #0072c3;
}

.titleText {
  font-size: x-large;
}

.dashboardText {
  width: 100%;
}


.tabs {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  gap: 2rem;
}

.stats {
  display: flex;
  flex-wrap: nowrap;
  max-width: 100%;
  gap: 1rem;
  box-sizing: border-box;
}

.statIconWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  background-color: $primary-color;
  border-radius: 50%;
  border: 1px solid $primary-color;
  position: absolute;
  right: -6px;
  bottom: -6px;

}

.statIcon {
  width: 1.5rem;
  height: 1.5rem;
  fill: white;
}


.chartWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

.twoGridChartWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 2rem;
}

.chart {
  display: flex;
  width: 100%;
  height: 100%;
}
