@use '@carbon/styles/scss/spacing';
@use '@carbon/colors/index';
//@use '@carbon/styles/scss/type/index';
@import "../../root";

.container {
  padding: .8rem;
  border: 1px solid $primary-color;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #D3D3D3;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  box-sizing: border-box;
}

.spinner {
  position: absolute;
  display: flex;
  width: 2rem;
  height: 2rem;
  top: 50%;
  left: 50%;
  z-index: 5;
  transform: translateY(-50%) translateX(-50%);
}

.bars {
  fill: $primary-color;
  cursor: pointer;
}

.horizontalLines {
  stroke: lightslategray;
  stroke-dasharray: 4;
}

.tooltip {
  pointer-events: none;
  padding: 6px 8px;
  position: absolute;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: 10px;
  z-index: 10;
  display: flex;
  flex-direction: row;
}
.headerContainer{
  display: flex;
  width: 100%;
  height: fit-content;
  margin-bottom: auto;
  padding: 1rem 1rem 0rem 1rem;
  justify-content: space-between;
  gap: 4rem;
  align-items: flex-start;
}

.title {
  font-size: 16px;
  font-weight: 600;
}

.waterfallFilterWrapper{
  margin-left: auto;
  max-width: fit-content;
}


.chartContainer {
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
}

.spinner {
  width: 2rem;
  height: 2rem;
  margin: auto;
}

.skeleton {
  width: 100%;
  height: 100%;
}

.noRecords {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.noRecordsTitle {
  font-weight: 600;
  font-size: 16px;
  max-width: fit-content;
  margin-right: auto;
}

.noRecordsText {
  text-align: center;
  margin: auto;
}

.waterfallFilterWrapper {
  max-width: fit-content;
  margin-left: auto;
}

.cascadeContainer {
  border: 1px solid $primary-color;
  border-radius: 8px;
  box-shadow: 5px 5px 5px #D3D3D3;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  padding: 2rem;
  height: 100%;
  gap: 4rem;
  height: 100%;
}

.cascadeTitle {
  font-size: 16px;
  font-weight: 600;
  width: 100%;
}

.cascadeHeaderContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  gap: 4rem;
}

.cascadeContentWrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  height: 100%;
}

.SVGWrapper {
  width: 100%;
}

.legend {
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  gap: 8px;
  white-space: wrap;
}

.legendText {
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

.cascadeHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.bars {
  fill: $primary-color;
  cursor: pointer;
}

.waterfallHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-bottom: auto;
}

@media screen and (max-width: 1620px) {
  .labelText {
    font-size: 9px;
  }
  .arrow {
    width: 4px;
  }
  .percentageText {
    font-size: 14px;
  }
  .legendText {
    font-size: 12px;
  }
}

@media screen and (max-width: 1024px) {
  .labelText {
    font-size: 9px;
  }
  .arrow {
    width: 4px;
  }
  .percentageText {
    font-size: 12px;
  }
  .legendText {
    font-size: 10px;
  }
}

