@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed|IBM+Plex+Sans:400,600&display=swap";
@import "https://unpkg.com/carbon-components/css/carbon-components.min.css";

.chartContainer {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.spinner {
  width: 2rem;
  height: 2rem;
}

.skeleton {
  width: 100%;
  height: 100%;
}

.noRecords{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;

}

.noRecordsTitle{
  font-weight: 500;
  margin-bottom: 50%;
  text-align: start;
}

.noRecordsText{
  text-align: center;
}
