@use '@carbon/styles/scss/spacing';
@use '@carbon/colors';
@use '@carbon/styles/scss/type';
@import '~@openmrs/esm-styleguide/src/vars';

.dashboardCardContainer{
    border-radius: 10px;
    border: 1px solid;
    @include brand-01(border-color);
    flex: 1;
    min-width: 160px;
    height: 154px;
    padding: 0 spacing.$spacing-05;
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

    &.customBorder {
      border-color: var(--custom-border-color, transparent);
    }
}

.label{
    @include type.type-style("body-compact-02");
    font-size: 1.2rem;
    color:  #666666;
    padding-top: spacing.$spacing-03;
    text-overflow: ellipsis;
}

.count {
    @include type.type-style("heading-05");
    color: colors.$gray-100;
    padding-bottom: spacing.$spacing-05;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &> .icon {
      background-color: white;
      color: white;
      height: 3rem;
      width: 3rem;
      border-radius: 50%;
      padding: spacing.$spacing-03;
      top: 0.9rem;
      left: 8.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
    }
}
